/* Begin : Testing Part */

    /* .fix-head-flex, .blog-article-flex, .blog-post-flex {
        border: 1px dashed #000;
    }

    .blog-article-flex-item, .blog-post-flex-item {
        border: 1px dashed #f00;
    } */

/* End : Testing Part */


/* Begin : Common Part */

    .blog-page {
        width: 85vw;
        max-width: 1000px;
        margin: 3em auto;
    }
    .fix-head-flex {
        display: flex;
        justify-content: space-between;
        font-size: 1.5em;
        margin: 1.5em 0;
    }

/* End : Common Part */

/* Begin : Article Part */

    .blog-article-flex {
        display: flex;
        align-items: stretch;
        border: 1px groove #fff;
        margin: 2em 0;
    }

    .blog-article-flex-item {
        width: 50%;
    }

    .blog-post-img {
        height: 100%;
        width: 100%;
        max-height: 350px;
    }

    @media screen and (max-width: 650px) {
        .blog-article-flex {
            flex-direction: column;
        }
        .blog-article-flex-item {
            width: 100%;
        }
    }

/* End : Article Part */


/* Begin : Blog-Post Part */

    .blog-post-flex {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 2em;
    }
    @media screen and (max-width: 555px) {
        .blog-post-flex {
            padding: 1em 1em;
        }
    }

    /* Begin : Blog-Post-Header Section */
        .blog-post-head-grid {
            display: grid;
            grid-template-rows: 50px;
            grid-template-columns: 50px 8fr 1fr;
            justify-content: start;
            align-items: center;
        }
        
        .blog-post-profile-pic {
            width: 2.5em;
            border-radius: 50%;
        }
        
        .blog-post-head-bar {
            justify-self: end;
        }
    /* End : Blog-Post-Header Section */

    /* Begin : Blog-Post-Body Section */
        .blog-post-body {
            line-height: 20px;
        }
        .blog-post-body-description {
            margin-bottom: 0.83em;
        }
    /* End : Blog-Post-Body Section */

    /* Begin : Blog-Post-Footer Section */
        .blog-post-footer-flex {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            padding: 0 5px;
        }
    /* End : Blog-Post-Footer Section */
    
/* End : Blog-Post Part */