body {
    margin: 0;
    padding: 0;
}

.global-ul {
    padding: 0;
    margin: 0;
}

.global-list {
    list-style: none;
    display: inline-block;
}

.global-remove-text-decoration {
    text-decoration: none;
}