header {
    background-color: #06273a;
    color: #ffffff;
    padding: 1em;
}

.navbar {
    width: 85vw;
    margin: 0 auto;
}

.nav-brand {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.nav-container a{
    color: #ffffff;
}

.nav-container {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1em;
}

.nav-telephone {
    margin-right: 0.5em;
}

.nav-telephone-icon {
    margin-right: 5px;
}

.nav-tab {
    margin: 0 1em;
}

.nav-social {
    margin-left: 0.5em;
}

.social-ul {
    text-align: end;
}

.social-item {
    margin: 0 0.3em;
}

.header-icon {
    font-size: 1.25em;
}

.nav-item {
    text-align: center;
    margin: 0 0.7em;
}


@media screen and (max-width: 836px) {
    .nav-telephone, .nav-social {
        display: none;
    }
    .nav-container {
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}